__ref/
Mod/bin/
Mod/obj/
*.sublime-workspace
StandaloneTest/bin/
StandaloneTest/obj/
Metadata/yamap*
.vscode/
.vs/
__pycache__
TangledMapView.sln.DotSettings.user
MapViewUnity/Library/
MapViewUnity/Temp/
MapViewUnity/.vsconfig
MapViewUnity/UserSettings/
MapViewUnity/*.csproj
MapViewUnity/MapView.sln
MapViewUnity/Logs/ApiUpdaterCheck.txt
