__ref/
Mod/bin/
Mod/obj/
*.sublime-workspace
StandaloneTest/bin/
StandaloneTest/obj/
Metadata/yamap*
.vscode/
.vs/
__pycache__
TangledMapView.sln.DotSettings.user
MapView/Library/
MapView/Temp/
MapView/.vsconfig
MapView/UserSettings/
MapView/*.csproj
MapView/MapView.sln
