:root {
	--highlight-color: #BBB;

	--area-Abyss-border: #6b6d6c;
	--area-Abyss-fill: #1d1d1d;
	--area-Cliffs-border: #6d6d6d;
	--area-Cliffs-fill: #1c1c1c;
	--area-Crossroads-border: #cbdbea;
	--area-Crossroads-fill: #2f363c;
	--area-Deepnest-border: #c0c3d4;
	--area-Deepnest-fill: #272c32;
	--area-Deepnest_East-border: #ddd9d0;
	--area-Deepnest_East-fill: #35322d;
	--area-Fungus1-border: #c4e9bc;
	--area-Fungus1-fill: #333c30;
	--area-Fungus2-border: #fafde8;
	--area-Fungus2-fill: #3c3d35;
	--area-Fungus3-border: #a3a88a;
	--area-Fungus3-fill: #2d2f21;
	--area-Waterways-border: #b3edee;
	--area-Waterways-fill: #223f3d;
	--area-Hive-border: #e7e1af;
	--area-Hive-fill: #3c3926;
	--area-Mines-border: #cebdd0;
	--area-Mines-fill: #373038;
	--area-RestingGrounds-border: #dbbfb3;
	--area-RestingGrounds-fill: #3c2f26;
	--area-Room-border: #b2b7dd;
	--area-Room-fill: #232136;
	--area-Ruins1-border: #a5a3cb;
	--area-Ruins1-fill: #2a2d3e;
	--area-Ruins2-border: #8c8dc5;
	--area-Ruins2-fill: #202038;
	--area-Town-border: #a7a6a2;
	--area-Town-fill: #2f2f2d;
	--area-White_Palace-border: #e4e4e4;
	--area-White_Palace-fill: #757575;
	--area-FogCanyon-border: #a48fa0;
	--area-FogCanyon-fill: #1f191d;
}
body, html {margin: 0;padding: 0;height: 100%;width: 100%;background: #4e4e4e;}

svg { user-select: none; }

.roomLink {
	fill: none;
	stroke: black;
	stroke-opacity: .4;
	stroke-width: 2px;
	stroke-linecap: round;
}
.roomLeadOut {
	fill: none;
	stroke-width: 2px;
	stroke: white;
	stroke-linecap: round;
}
.roomLeadOut.visitedDoor {
	stroke: black;
}
.roomLeadOut.noEntry {
	stroke: black;
	stroke-dasharray: 0 3;
}
.crossIslandLink.roomLink {
	stroke-width: 1.5px;
	stroke: rgba(0, 0, 0, 0.5);
}
.crossIslandLink:nth-child(6n + 0) {stroke-dasharray: 4, 4;}
.crossIslandLink:nth-child(6n + 1) {stroke-dasharray: 7, 7;}
.crossIslandLink:nth-child(6n + 2) {stroke-dasharray: 12, 2;}
.crossIslandLink:nth-child(6n + 3) {stroke-dasharray: 7, 3, 16, 3;}
.crossIslandLink:nth-child(6n + 4) {stroke-dasharray: 2, 7;}
.crossIslandLink:nth-child(6n + 5) {stroke-dasharray: 7, 2;}
.roomLink.hoverRelated {
	stroke: var(--highlight-color);
	stroke-width: 6px;
	stroke-opacity: 1;
	stroke-dasharray: none;
}



.mapNode {
	stroke: black;
	cursor: pointer;
}
.mapNode > rect {
	fill: magenta; /* "shouldn't happen" */
	rx: 5px;
	ry: 5px;
	fill-opacity: .8;
}
.mapNode.hoverRelated > rect, .mapNode:hover > rect {
	stroke: var(--highlight-color);
	stroke-width: 3px;
}


.area-Abyss > rect { stroke: var(--area-Abyss-border); fill: var(--area-Abyss-fill); }
.area-Cliffs > rect { stroke: var(--area-Cliffs-border); fill: var(--area-Cliffs-fill); }
.area-Crossroads > rect { stroke: var(--area-Crossroads-border); fill: var(--area-Crossroads-fill); }
.area-Deepnest > rect { stroke: var(--area-Deepnest-border); fill: var(--area-Deepnest-fill); }
.area-Deepnest_East > rect { stroke: var(--area-Deepnest_East-border); fill: var(--area-Deepnest_East-fill); }
.area-Fungus1 > rect { stroke: var(--area-Fungus1-border); fill: var(--area-Fungus1-fill); }
.area-Fungus2 > rect { stroke: var(--area-Fungus2-border); fill: var(--area-Fungus2-fill); }
.area-Fungus3 > rect { stroke: var(--area-Fungus3-border); fill: var(--area-Fungus3-fill); }
.area-Waterways > rect { stroke: var(--area-Waterways-border); fill: var(--area-Waterways-fill); }
.area-Hive > rect { stroke: var(--area-Hive-border); fill: var(--area-Hive-fill); }
.area-Mines > rect { stroke: var(--area-Mines-border); fill: var(--area-Mines-fill); }
.area-RestingGrounds > rect { stroke: var(--area-RestingGrounds-border); fill: var(--area-RestingGrounds-fill); }
.area-Room > rect { stroke: var(--area-Room-border); fill: var(--area-Room-fill); }
.area-Ruins1 > rect { stroke: var(--area-Ruins1-border); fill: var(--area-Ruins1-fill); }
.area-Ruins2 > rect { stroke: var(--area-Ruins2-border); fill: var(--area-Ruins2-fill); }
.area-Town > rect { stroke: var(--area-Town-border); fill: var(--area-Town-fill); }
.area-White_Palace > rect { stroke: var(--area-White_Palace-border); fill: var(--area-White_Palace-fill); }
.area-FogCanyon > rect { stroke: var(--area-FogCanyon-border); fill: var(--area-FogCanyon-fill); }


circle.door {
	r: 3px;
	stroke: none;
	fill: white;
	stroke-width: 1px;
}
circle.door.visitedDoor {
	fill: black;
}


.islandBackdrop {
	fill: none;
	stroke: rgba(255, 255, 255, 0.192);
	stroke-width: 1px;
}

/* .mapNode.currentRoute:not(.currentRoom) > rect, .roomLink.currentRoute { */
	.mapNode > rect.currentRoute, .roomLink.currentRoute {
		stroke: rgb(196, 6, 6);
		animation-name: routePulse;
		animation-iteration-count: infinite;
		animation-timing-function: linear;;
		animation-duration: 4s;
	}

	body.noAnimate .mapNode > rect.currentRoute, body.noAnimate .roomLink.currentRoute {
		animation: none;
	}

	@keyframes routePulse {
	0% { stroke: rgb(196, 6, 6); }
	10% { stroke: yellow; stroke-width: 3px; }
	20% { stroke: rgb(196, 6, 6); }
	100% { stroke: rgb(196, 6, 6); }
}

#controlPanel {
	position: fixed;
	top: 0;
	left: 0;
	max-height: 100%;
	overflow: auto;
	color: white;
	/* text-shadow: 0 0 6px black; */
	font-family: sans-serif;
	opacity: .5;
}
#controlPanel:hover {
	opacity: 1;
	background: #444444CC;
}

#blockingMessage {
	position: fixed;
	top: calc(50% - 35px); left: 0; right: 0;
	margin: 15px;
	text-align: center;
	font-size: 60px;
	color: white;
	text-shadow: 0px 3px 5px black;
}

#roomInfo {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	text-shadow: 2px 2px 0 black;
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
	background: rgba(0, 0, 0, .5);
	border-top: 1px solid #BBB;
	padding: 15px;
}

#roomInfo .areaName {
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	padding: 2px 4px;
	text-shadow: none;
	margin: 0 4px;
}

#roomInfo .roomId {
	display: inline-block;
	opacity: .5;
	margin: 0 5px;
}

[data-area=Abyss] { border-color: var(--area-Abyss-border); background-color: var(--area-Abyss-fill); color: var(--area-Abyss-border);}
[data-area=Cliffs] { border-color: var(--area-Cliffs-border); background-color: var(--area-Cliffs-fill); color: var(--area-Cliffs-border);}
[data-area=Crossroads] { border-color: var(--area-Crossroads-border); background-color: var(--area-Crossroads-fill); color: var(--area-Crossroads-border);}
[data-area=Deepnest] { border-color: var(--area-Deepnest-border); background-color: var(--area-Deepnest-fill); color: var(--area-Deepnest-border);}
[data-area=Deepnest_East] { border-color: var(--area-Deepnest_East-border); background-color: var(--area-Deepnest_East-fill); color: var(--area-Deepnest_East-border);}
[data-area=FogCanyon] { border-color: var(--area-FogCanyon-border); background-color: var(--area-FogCanyon-fill); color: var(--area-FogCanyon-border);}
[data-area=Fungus1] { border-color: var(--area-Fungus1-border); background-color: var(--area-Fungus1-fill); color: var(--area-Fungus1-border);}
[data-area=Fungus2] { border-color: var(--area-Fungus2-border); background-color: var(--area-Fungus2-fill); color: var(--area-Fungus2-border);}
[data-area=Fungus3] { border-color: var(--area-Fungus3-border); background-color: var(--area-Fungus3-fill); color: var(--area-Fungus3-border);}
[data-area=Hive] { border-color: var(--area-Hive-border); background-color: var(--area-Hive-fill); color: var(--area-Hive-border);}
[data-area=Mines] { border-color: var(--area-Mines-border); background-color: var(--area-Mines-fill); color: var(--area-Mines-border);}
[data-area=RestingGrounds] { border-color: var(--area-RestingGrounds-border); background-color: var(--area-RestingGrounds-fill); color: var(--area-RestingGrounds-border);}
[data-area=Room] { border-color: var(--area-Room-border); background-color: var(--area-Room-fill); color: var(--area-Room-border);}
[data-area=Ruins1] { border-color: var(--area-Ruins1-border); background-color: var(--area-Ruins1-fill); color: var(--area-Ruins1-border);}
[data-area=Ruins2] { border-color: var(--area-Ruins2-border); background-color: var(--area-Ruins2-fill); color: var(--area-Ruins2-border);}
[data-area=Town] { border-color: var(--area-Town-border); background-color: var(--area-Town-fill); color: var(--area-Town-border);}
[data-area=Waterways] { border-color: var(--area-Waterways-border); background-color: var(--area-Waterways-fill); color: var(--area-Waterways-border);}
[data-area=White_Palace] { border-color: var(--area-White_Palace-border); background-color: var(--area-White_Palace-fill); color: var(--area-White_Palace-border);}


.currentRoom > rect {
	/* fill: rgb(42, 98, 255); */
	stroke-width: 3px;
	animation: pulseStroke 1s infinite alternate linear;
}
body.noAnimate .currentRoom > rect {
	animation: none;
	stroke: black;
}

@keyframes pulseStroke {
	from { stroke: black; }
	to { stroke: white; }
}

button {
	border: 2px outset gray;
	color: black;
	background: #DDD;
	margin: 3px;
	padding: 3px;
	border-radius: 4px;
	font-size: 110%;
}
button.enabled {
	border-style: inset;
	color: #DDD;
	background: #000;
}
button:active {
	border-style: solid;
	color: rgb(255, 255, 255);
	background: rgb(70, 70, 70);
}

fieldset {
	margin: 5px;
	border-color: #BBB;
}

