:root {
	--highlight-color: #BBB;
}
body, html { margin: 0; padding: 0; height: 100%; width: 100%; background: #555; }

svg { user-select: none; }

.roomLink {
	fill: none;
	stroke: black;
	stroke-opacity: .4;
	stroke-width: 2px;
	stroke-linecap: round;
}
.roomLeadOut {
	fill: none;
	stroke-width: 2px;
	stroke: black;
	stroke-linecap: round;
}
.crossIslandLink .roomLink {
	stroke-width: 1.5px;
	stroke: rgba(0, 0, 0, 0.5);
}
.crossIslandLink:nth-child(6n + 0) {stroke-dasharray: 4, 4;}
.crossIslandLink:nth-child(6n + 1) {stroke-dasharray: 7, 7;}
.crossIslandLink:nth-child(6n + 2) {stroke-dasharray: 12, 2;}
.crossIslandLink:nth-child(6n + 3) {stroke-dasharray: 7, 3, 16, 3;}
.crossIslandLink:nth-child(6n + 4) {stroke-dasharray: 2, 7;}
.crossIslandLink:nth-child(6n + 5) {stroke-dasharray: 7, 2;}
.roomLink.hoverRelated, .hoverRelated .roomLink {
	stroke: var(--highlight-color);
	stroke-width: 6px;
	stroke-opacity: 1;
	stroke-dasharray: none;
}



.mapNode {
	stroke: black;
	cursor: pointer;
}
.mapNode > rect {
	fill: magenta; /* "shouldn't happen" */
	rx: 5px;
	ry: 5px;
	fill-opacity: .8;
}
.mapNode.hoverRelated > rect, .mapNode:hover > rect {
	stroke: var(--highlight-color);
	stroke-width: 3px;
}

.area-Abyss > rect { stroke: #6b6d6c; fill: #1d1d1d; }
.area-Cliffs > rect, .area-Tutorial > rect { stroke: #6d6d6d; fill: #1c1c1c; }
.area-Crossroads > rect { stroke: #cbdbea; fill: #2f363c; }
.area-Deepnest > rect { stroke: #c0c3d4; fill: #272c32; }
.area-Deepnest_East > rect { stroke: #ddd9d0; fill: #35322d; }
.area-Fungus1 > rect /* Greenpath */{ stroke: #c4e9bc; fill: #333c30; }
.area-Fungus2 > rect { stroke: #fafde8; fill: #3c3d35; }
.area-Fungus3 > rect { stroke: #a3a88a; fill: #2d2f21; }
.area-GG > rect, .area-Waterways > rect { stroke: #b3edee; fill: #223f3d; }
.area-Grimm > rect { stroke: #e28383; fill: #421f1f; }
.area-Hive > rect { stroke: #e7e1af; fill: #3c3926; }
.area-Mines > rect { stroke: #cebdd0; fill: #373038; }
.area-RestingGrounds > rect { stroke: #dbbfb3; fill: #3c2f26; }
.area-Room > rect { stroke: #b2b7dd; fill: #232136; }
.area-Ruins > rect, .area-Ruins1 > rect { stroke: #a5a3cb; fill: #2a2d3e; }
.area-Ruins2 > rect { stroke: #8c8dc5; fill: #202038; }
.area-Town > rect { stroke: #a7a6a2; fill: #2f2f2d; }
.area-White_Palace > rect { stroke: #e4e4e4; fill: #757575; }


circle.door {
	r: 3px;
	stroke: none;
	fill: black;
	stroke-width: 1px;
}


.mapNodeLabel {
	display: none;
	opacity: 1;
	font-size: 11px;
	stroke: none;
	font-family: sans-serif;
	fill: white;
	transform: translate(0, .5em);
	text-anchor: middle;
}
.mapNodeLabel.shadow {stroke: rgba(0, 0, 0, 0.548); stroke-width: 3px;}
.mapNode:hover .mapNodeLabel {
	display: block;
}

.islandBackdrop {
	fill: none;
	stroke: rgba(255, 255, 255, 0.192);
	stroke-width: 1px;
}

#controlPanel {
	position: fixed;
	top: 0; left: 0;
	margin: 15px;
}
#blockingMessage {
	position: fixed;
	top: calc(50% - 35px); left: 0; right: 0;
	margin: 15px;
	text-align: center;
	font-size: 60px;
	color: white;
	text-shadow: 0px 3px 5px black;
}

.currentRoom > rect {
	/* fill: rgb(42, 98, 255); */
	stroke-width: 3px;
	animation: pulseStroke 1s infinite alternate linear;
}

@keyframes pulseStroke {
	from { stroke: black; }
	to { stroke: white; }
}

button {
	border: 2px outset gray;
	color: black;
	background: #DDD;
	margin: 3px;
	padding: 3px;
	border-radius: 4px;
	font-size: 110%;
}
button.enabled {
	border-style: inset;
	color: #DDD;
	background: #000;
}