:root {
	--highlight-color: #BBB;
}
body, html { margin: 0; padding: 0; height: 100%; width: 100%; background: #555; }

svg { user-select: none; }

.roomLink {
	fill: none;
	stroke: black;
	stroke-opacity: .4;
	stroke-width: 3px;
}
.crossIslandLink .roomLink {
	stroke-width: 1.5px;
	stroke: rgba(0, 0, 0, 0.5);
}
.crossIslandLink:nth-child(6n + 0) {stroke-dasharray: 4, 4;}
.crossIslandLink:nth-child(6n + 1) {stroke-dasharray: 7, 7;}
.crossIslandLink:nth-child(6n + 2) {stroke-dasharray: 12, 2;}
.crossIslandLink:nth-child(6n + 3) {stroke-dasharray: 7, 3, 16, 3;}
.crossIslandLink:nth-child(6n + 4) {stroke-dasharray: 2, 7;}
.crossIslandLink:nth-child(6n + 5) {stroke-dasharray: 7, 2;}
.roomLink.hoverRelated, .hoverRelated .roomLink {
	stroke: var(--highlight-color);
	stroke-width: 6px;
	stroke-opacity: 1;
	stroke-dasharray: none;
}


.mapNode {
	stroke: black;
	cursor: pointer;
}
.mapNode.hoverRelated > circle, .mapNode:hover > circle {
	stroke: var(--highlight-color);
	stroke-width: 3px;
}


.mapNodeLabel {
	display: none;
	opacity: 1;
	font-size: 11px;
	stroke: none;
	font-family: sans-serif;
	fill: white;
	transform: translate(0, .5em);
	text-anchor: middle;
}
.mapNodeLabel.shadow {stroke: rgba(0, 0, 0, 0.548); stroke-width: 3px;}
.mapNode:hover .mapNodeLabel {
	display: block;
}

.islandBackdrop {
	fill: none;
	stroke: rgba(255, 255, 255, 0.192);
	stroke-width: 1px;
}

/* #room-Fungus2_30 > circle { fill: blue; } */


#controlPanel {
	position: fixed;
	top: 0; left: 0;
	margin: 15px;
}
#blockingMessage {
	position: fixed;
	top: calc(50% - 35px); left: 0; right: 0;
	margin: 15px;
	text-align: center;
	font-size: 60px;
	color: white;
	text-shadow: 0px 3px 5px black;
}

.currentRoom > circle {
	fill: rgb(42, 98, 255);
	stroke-width: 3px;
	animation: pulseStroke 2s infinite alternate;
}

@keyframes pulseStroke {
	from { stroke: black; }
	to { stroke: white; }
}